::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#switch{
    width: auto;
    height: auto;
    max-width: 8vw;
    max-height: 8vh;
    margin-left: 3%;
    margin-top:5px ;
}

/*width: 90vw;
height: 90vh;*/
#wrapper {  height: 450px; padding: 0; overflow: hidden;
    width:100%;
    float:left;
    text-align:center;

}
#graphObject {
    width: 86vw;
    height: 550px;
    margin: 0 auto;
    display:block;
}
#graphObject {
/*    -webkit-transform: scale(1);*/
    -webkit-transform-origin: 0 0;
}


#wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

*{
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}


.gauges {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */

}
.gauges{
    max-height: 450px;
}

.notification {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
    animation: slidein 2s 1;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.3);
    max-width: 600px;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}
@keyframes slidein {
    0% {
    transform: translateX( 110% );
    }
    100% {
        transform: translateX( 0 );
    }
}
/*#gauge {
    animation: pointerSVG__tr 3000ms linear 1 normal forwards}@keyframes pointerSVG__tr { 0% {transform: translate(221.245px,207.370756px) rotate(-120deg)} 100% {transform: translate(221.245px,207.370756px) rotate(120deg)}}*/



#errorContainer {
    opacity: 1;
    transition: opacity 1s;
}

#errorContainer.fade {
    opacity: 0;
}
@keyframes slideout {
    0% {
        transform: translateX( 0 );
        opacity: 1;
    }
    100% {
    transform: translateX( 110% );
        opacity: 0;
    }
}


/* ENDLESS ROTATE */
.rotate{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
}




.input {
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.gauge-container.three {

}
.gauge-container.three > .gauge > .dial {
    stroke: #565656;
    stroke-width: 9;
    /*stroke-dasharray: 125, 20;*/
}
.gauge-container.three > .gauge > .value {
    stroke: #C9DE3C;
    stroke-width: 10;
    /*stroke-dasharray: 125, 20;*/
}
.gauge-container.three > .gauge > .value-text {
    fill: #565656;;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

/* Object */
{"Caribbean Green":"00d1b2","Emerald":"48c774","Cultured":"f5f5f5","Rose Madder":"db2b39","Raisin Black":"171a21"}


/*  https://coolors.co/00d1b2-48c774-f5f5f5-db2b39-171a21 */

